body
{
    background-color: rgb(255, 246, 219);
    height:100vh;
}

a {
    color:white;
    text-decoration: none;
}
div
{
    margin-bottom: 50px;
}

#taskBar
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid black;
    margin-top: 0;
}
#taskBar p
{
    border:   black;
    padding: 5px;
}

#mainContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
#introductionPage
{   
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 100%;
      
}
#name{
    font-size: 72px;
    margin-top: 15%;
    margin-bottom: 10%;
    padding-bottom: 5%;
}


#resume
{
    width: 100%;
    
}

#resume
{
    display: flex;
    flex-direction: row;
}
#skillsAndHobbies
{
    width: 30%;
    flex-shrink: 0;
    background: linear-gradient(
        rgba(0, 0, 0, 0.45), 
        rgba(0, 0, 0, 0.45)
      ), url('../../assets/crash.jpg');
    height: 760px;
    background-position-x: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 40px;
}
#skillsAndHobbies h2
{
    font-size: 50px
}
#skillsAndHobbies li    
{
    font-size: 25px;
}
#skills
{
    margin-bottom: 20%;
}


#educationAndAchievements
{
    width: 100%;
}


#contactInfo 
{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
#contactInfo p
{

}
.socialMediaTags
{
    width:50px;
}
